.header__logo {
    justify-self: left;
    margin-top: 28px;
    width: 176px;
    height: 52px;
}

@media all and (max-width: 425px) {
    .header__logo {
        margin-top: 16px;
        width: 142px;
        height: 42px;
    }
}